# NextAuth
AUTH_SECRET=

# Apple
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

# Naver
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Kakao
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# 토도독 서버 API
NEXT_PUBLIC_API_BASE_URL=
