@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: "SUIT", -apple-system, BlinkMacSystemFont, sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}
